@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('./wavy-lines.svg');
  background-size: cover; */
}

#root {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#options {
  border-bottom: 1px white solid;
}

main {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

#groups {
  border-right: 1px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 25%;
}

.group {
  border-bottom: 1px white solid;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

#tracks {
  height: 100%;
  width: 75%;
  overflow-y: auto;
}

.track-component {
  display: grid;
  grid-template-columns: 80px 2fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 10px 10px 0;
  border-bottom: 1px whitesmoke solid;
}
.track-component:hover {
  background-color: #3d3d3f;
  cursor: pointer;
}

.track-artist {
  font-size: 15px;
  color: #BBB;
}

.track-img {
  border-radius: 5px;
  width: 100%;
}

.ellip-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.m-b-5 {
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .track-component {
    grid-template-columns: 60px 2fr 2fr 30px;
  }

  .track-duration {
    display: none;
  }
}

@media (max-width: 650px) {
  .track-component {
    grid-template-columns: 50px 2fr 30px;
  }

  .track-album {
    display: none;
  }
}

#player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

#track-progress {
  /* appearance: none; */
  background-color: red;
  color: green;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  height: 4px;
  width: 100%;
}
#track-progress::-webkit-slider-thumb {
  appearance: none;
  background-color: #fff;
  color: red;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 10px;
  width: 100%;
  max-width: 300px;
}
#play-pause-icon-bg {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}
#play-pause-icon {
  height: 18px;
}

#slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.slider-times {
  color: #a5a5a5;
  font-size: 14px;
}

.no-select {
  user-select: none;
}

#current-song {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 15px;
  align-items: center;
}

#bottom-panel {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1.15fr 1fr;
  padding: 15px;
}

.current-song-track {
  font-size: 15px;
}
.current-song-artist {
  color: #a5a5a5;
  font-size: 12px;
}
