@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('./wavy-lines.svg');
  background-size: cover; */
}

#root {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#options {
  border-bottom: 1px white solid;
}

main {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

#groups {
  border-right: 1px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 25%;
}

.group {
  border-bottom: 1px white solid;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

#items {
  height: 100%;
  width: 75%;
  overflow-y: auto;
}

.track-component {
  display: grid;
  grid-template-columns: 80px 2fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin: 10px 10px 0;
  border-bottom: 1px whitesmoke solid;
}

.track-artist {
  font-size: 15px;
  color: #BBB;
}

.track-img {
  border-radius: 5px;
  width: 100%;
}

.ellip-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.m-b-5 {
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .track-component {
    grid-template-columns: 60px 2fr 2fr 30px;
  }

  .track-duration {
    display: none;
  }
}

@media (max-width: 650px) {
  .track-component {
    grid-template-columns: 50px 2fr 30px;
  }

  .track-album {
    display: none;
  }
}